body{
    display: flex;
    flex-direction: column;
}

/*------------------ONE------------------ONE------------------ONE------------------ONE------------------ONE------------------*/
.one{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 150px 50px;
    /*STYLIZE*/
    font-family: Roboto, 'Times New Romans';
    background-color: #1F2937;
    /*STYLIZE*/
}

/*---------------start-ROW1---------------*/  /*HEADER LOGO + HEADER LINKS*/
.one .row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.one .row1 .logo{
    font-size: 24px;
    color: #F9FAF8;
}
.one .row1 .links{
    font-size: 18px;
    color: #E5E7EB;
}
.one .row1 .links ul{
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}
/*---------------end-ROW1---------------*/

/*---------------start-ROW2---------------*/  /*TEXT + IMG*/
.one .row2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.one .row2 .text{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.one .row2 .text .big-text{
    /*STYLIZE*/
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    /*STYLIZE*/
}

.one .row2 .text .small-text{
    /*STYLIZE*/
    font-size: 18px;
    color: #E5E7EB; 
    /*STYLIZE*/
}

.one .row2 .text .button-one{
    /*STYLIZE*/
    /*padding: 5px 10px;*/
    /*STYLIZE*/
}

.one .row2 .text .button-one button{
    /*STYLIZE*/
    background-color: #3882f6;
    font-weight: 800;
    padding: 0 25px;
    border-radius: 5px;
    color: white;
    /*STYLIZE*/
    border: 1px solid white;
}

.one .row2 .img img{
    width: 300px;
}
/*---------------end-ROW2---------------*/
/*------------------ONE------------------ONE------------------ONE------------------ONE------------------ONE------------------*/

/*------------------TWO------------------TWO------------------TWO------------------TWO------------------TWO------------------*/
.two{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
/*---------------start-TITLE---------------*/  /*TITLE*/
.title{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    /*STYLIZE*/
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    /*STYLIZE*/

}
/*---------------end-TITLE---------------*/

/*---------------start-IMAGES---------------*/  /*IMAGES*/
.images{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 100px;
}

.two .images .image{
    display: flex; 
    flex-direction: column; 
    width: 300px;
    gap: 15px;
    flex-shrink: 0;
}

.two .images .image img{
    border: 1px solid grey;
    height: 300px;
    border-radius: 10px;
}

.two .images .image p{
    text-align: center;    
}
/*---------------end-IMAGES---------------*/

/*------------------TWO------------------TWO------------------TWO------------------TWO------------------TWO------------------*/

/*------------------THREE------------------THREE------------------THREE------------------THREE------------------THREE------------------*/
.three{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    padding: 100px 400px;
    gap: 10px;
    /*STYLIZE*/
    background-color: #E5E7EB;
    /*STYLIZE*/

}
/*---------------start-QUOTATION---------------*/  /*QUATATION*/
.three .quatation{
    /*STYLIZE*/
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    min-width: 500px;
    max-width: 750px;
    text-align: left;
    padding: 30px 100px;
    /*STYLIZE*/
}
/*---------------end-QUOTATION---------------*/

/*---------------start-AUTHOR---------------*/  /*AUTHOR*/
.three .author{
    /*STYLIZE*/
    font-weight: 800;
    min-width: 200px;
    /*STYLIZE*/
}
/*---------------end-AUTHOR---------------*/ 

/*------------------THREE------------------THREE------------------THREE------------------THREE------------------THREE------------------*/

/*------------------FOUR------------------FOUR------------------FOUR------------------FOUR------------------FOUR------------------*/
.four{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: stretch; 
    padding: 75px 250px;
}
/*---------------start-ONLY---------------*/  /*ONLY*/
.four .only{
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    /*STYLIZE*/
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 10px 100px;
    min-width: 600px;
    /*STYLIZE*/

}
.four .only .texts{
    display: flex; 
    flex-shrink: 0;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
}

.four .only .text1{
    /*STYLIZE*/
    font-size: 18px;
    font-weight: 700;
    /*STYLIZE*/
}

.four .only .button-two{
    flex-shrink: 0;
}

.four .only .button-two button{
    /*STYLIZE*/
    background-color: #3882f6;
    color: white;
    font-weight: 800;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid white;
    /*STYLIZE*/
}

/*---------------end-ONLY---------------*/
/*------------------FOUR------------------FOUR------------------FOUR------------------FOUR------------------FOUR------------------*/

/*------------------FOOTER------------------FOOTER------------------FOOTER------------------FOOTER------------------FOOTER------------------*/
.footer{
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    flex-shrink:0;
}
.footer .only{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
/*------------------FOOTER------------------FOOTER------------------FOOTER------------------FOOTER------------------FOOTER------------------*/
