body{
    border: 4px solid red;
    display: flex;
    flex-direction: column;
}

/*------------------ONE------------------ONE------------------ONE------------------ONE------------------ONE------------------*/
.one{
    border: 10px solid green;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 150px 50px;

}
/*---------------start-ROW1---------------*/  /*HEADER LOGO + HEADER LINKS*/
.one .row1{
    border: 10px solid pink;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.one .row1 .logo{
    border: 1px solid yellow;
}
.one .row1 .links{
    border: 1px solid gray;
}
.one .row1 .links ul{
    border: 1px solid black;
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}
/*---------------end-ROW1---------------*/

/*---------------start-ROW2---------------*/  /*TEXT + IMG*/
.one .row2{
    border: 10px solid blue;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.one .row2 .text, .one .row2 .img{
    border: 10px solid yellow;
}
.one .row2 .img img{
    border: 2px solid red;
    width: 400px;
}
/*---------------end-ROW2---------------*/
/*------------------ONE------------------ONE------------------ONE------------------ONE------------------ONE------------------*/

/*------------------TWO------------------TWO------------------TWO------------------TWO------------------TWO------------------*/
.two{
    border: 10px solid blueviolet;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
/*---------------start-TITLE---------------*/  /*TITLE*/
.title{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}
/*---------------end-TITLE---------------*/

/*---------------start-IMAGES---------------*/  /*IMAGES*/
.images{
    border: 10px solid black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 100px;
}

.two .images .image{
    border: 10px solid red;
    display: flex; 
    flex-direction: column; 
    width: 300px;
    gap: 15px;
}

.two .images .image img{
    border: 5px solid yellow;
    height: 300px;
}

.two .images .image p{
    border: 5px solid green;
    text-align: center;    
}
/*---------------end-IMAGES---------------*/

/*------------------TWO------------------TWO------------------TWO------------------TWO------------------TWO------------------*/

/*------------------THREE------------------THREE------------------THREE------------------THREE------------------THREE------------------*/
.three{
    border: 10px solid green;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 150px 500px;
    gap: 10px;
}
/*---------------start-QUOTATION---------------*/  /*QUATATION*/
.three .quatation{
    border: 1px solid black;
}
/*---------------end-QUOTATION---------------*/

/*---------------start-AUTHOR---------------*/  /*AUTHOR*/
.three .author{
    border: 1px solid black;
    align-self: flex-end;
}
/*---------------end-AUTHOR---------------*/ 

/*------------------THREE------------------THREE------------------THREE------------------THREE------------------THREE------------------*/
